<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible">
    <%= I18n.t("errors.messages.not_saved",
               count: model.errors.count,
               resource: model.class.model_name.human) %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>