
<span class="subscription">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_has_access?(subscription) %>
     <%= button_to(
           'Удалить участника',
          event_subscription_path(subscription.event, subscription),
          method: :delete,
          data: {confirm: t('.destroy_confirm')}, class: 'btn-warning'
        ) %>
  <% end %>
</span>